html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    height: 71rem;
    font-size: 11px;

    text-align: center;

    font-family: "Inter", sans-serif;
    font-family: "Lexend Deca", sans-serif;

    background-color: #090b1a;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media (max-width: 800px){
        height: auto;
    }
}

a {
    color: #3e52a3;
}

// ## Colors

// ### Primary

//(main background):
$Verydarkbluehsl: #090b1a;

//(card background):
$Darkdesaturatedblue: #1b1938;

//(accent):
$Softviolet: #aa5cdb;

// ### Neutral

// (main heading, stats):
$White: #ffffff;

//(main paragraph):
$Slightlytransparentwhite: #ffffffbf;

//(stat headings):
$Slightlytransparentwhite: #ffffff99;


.attribution{
    color: #ffffff;
    margin-top: 1rem;
}